<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="myEventHandler" class="gloncak.jozef.springframework.pure.custom.events.event.handler.MyEventHandler" />
    <bean id="myEventHandler2" class="gloncak.jozef.springframework.pure.custom.events.event.handler.MyEventHandler2" />
    <bean id="myEventPublisher" class="gloncak.jozef.springframework.pure.custom.events.publisher.MyEventPublisher" />

</beans>